// movie card

.cards__item {
	display: flex;
	justify-content: center;
	padding: 1rem;
	width: 100%;

	@include mediaQuery(sm) {
		width: 50%;
	}

	@include mediaQuery(md) {
		width: 33.33%;
	}

	@include mediaQuery(lg) {
		width: 25%;
	}

	@include mediaQuery(xl) {
		width: 20%;
	}
}

.card {
	border-radius: 0.25rem;
	box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

// card overlay
.card-image__container {
	width: 180px;
	height: 280px;

	a img {
		max-width: 100%;
		height: auto;
		border-radius: 5px;
		vertical-align: middle;
		overflow: hidden;
	}
}

// card block
.card__block {
	padding: 1rem;
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	text-align: center;

	.card__title {
		width: 180px;
		font-weight: 300;
		font-size: 1rem;
		line-height: 1.1;
		margin-bottom: 1.25rem;
		word-break: break-all;

		@include mediaQuery(sm) {
			font-size: calc(0.75rem + 2vmin);
		}
	}

	.card__text {
		font-size: 1rem;
		flex: 1 1 auto;
		font-size: 0.875rem;
		line-height: 1.5;
		margin-bottom: 1.25rem;

		@include mediaQuery(sm) {
			font-size: calc(0.5rem + 2vmin);
		}
	}

	.card__rating {
		display: flex;
		justify-content: space-between;
	}
}
