// COLORS

$color-primary: #30336b;
$color-white: #f5f5f6;
// $color-pink: #e36588;
$color-pink: #ea215a;
$color-red: #d62839;

// color: #686de0;

// background-color: #282c34;
// color: antiquewhite;

// FONTS
$font-primary: Helvetica;
$font-secondary: Arial;
