.search {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-gap: 1rem;
	text-align: center;
	width: 100%;

	&::before {
		content: "";
		position: absolute;
		background-image: url(../../assets/images/landing-page-large.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		opacity: 0.4;
		width: 100%;
		height: 100%;
	}
}

// @media screen and (min-width: 694px) and (max-width: 915px) {
// 	.movie {
// 		max-width: 33%;
// 	}
// }
// @media screen and (min-width: 625px) and (max-width: 693px) {
// 	.movie {
// 		max-width: 50%;
// 	}
// }
// @media screen and (max-width: 651px) {
// 	.movie {
// 		max-width: 100%;
// 		margin: auto;
// 	}
// }
