@function set-text-color($color) {
	@if (lightness($color) > 70) {
		@return $font-color-black;
	} @else {
		@return $font-color-white;
	}
}

// Set background & text color
@mixin set-background($color) {
	background-color: $color;
	color: set-text-color($color);
}

@mixin vh() {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

%btn {
	display: inline-block;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 8px 20px;
	margin: 3px;
	transition: 0.3s ease-in-out;

	&:hover {
		transform: scale(0.95);
		-webkit-transform: scale(0.95);
		-moz-transform: scale(0.95);
		-ms-transform: scale(0.95);
		-o-transform: scale(0.95);
		background-color: darken($color-red, 10%);
	}
}

@mixin signInUpBtn {
	button {
		border: none;
		border-radius: 5px;
		font-weight: 500;
		font-size: 0.7em;
		letter-spacing: 2px;
		@include set-background($color-red);
		padding: 10px 25px;
		text-transform: uppercase;
		transition: 0.3s ease-in-out;

		&:hover {
			transform: scale(0.95);
			-webkit-transform: scale(0.95);
			-moz-transform: scale(0.95);
			-ms-transform: scale(0.95);
			-o-transform: scale(0.95);
			@include set-background(darken($color-red, 10%));
		}

		@include mediaQuery(sm) {
			font-size: calc(0.5em + 2vmin);
		}

		@include mediaQuery(md) {
			padding: 12px 30px;
			align-self: flex-start;
		}

		@include mediaQuery(lg) {
			font-size: 0.8em;
		}
	}
}

%menuLink {
	color: $color-white;
	cursor: pointer;
	text-decoration: none;
}

$breakpoints: (
	xs: (
		min-width: 412px,
	),
	sm: (
		min-width: 640px,
	),
	md: (
		min-width: 800px,
	),
	lg: (
		min-width: 1024px,
	),
	xl: (
		min-width: 1200px,
	),
	xxl: (
		min-width: 1440px,
	),
	xxxl: (
		min-width: 1600px,
	),
);

@mixin mediaQuery($breakpoint) {
	$size: map-get($breakpoints, $breakpoint);

	@if ($size) {
		@media #{$size} {
			@content;
		}
	} @else {
		@warn 'bad breakpoint';
	}
}

%flexCenter {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin ratingBox {
	.card__rating {
		display: flex;
		justify-content: space-between;
		background-color: #fff;

		button {
			background-color: transparent;

			.delete-btn {
				color: $color-red;
				transition: 0.3s;

				&:hover {
					color: darken($color-red, 10%);
					transform: scale(1.2);
					-webkit-transform: scale(1.2);
					-moz-transform: scale(1.2);
					-ms-transform: scale(1.2);
					-o-transform: scale(1.2);
				}
			}
		}
	}
}

@mixin container {
	transition: all 0.3s linear;
	padding: 0.7rem;
}
