.header__main {
	align-items: center;
	font-size: calc(10px + 2vmin);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	overflow: hidden;

	.header__logo a {
		@extend %menuLink;
		font-weight: bold;
		font-size: 1.25em;
		margin-right: auto;
	}
}

.main__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;

	li {
		padding: 20px;

		a {
			@extend %menuLink;
			background-image: linear-gradient(
				120deg,
				lighten($color-pink, 5%) 0%,
				lighten($color-primary, 10%) 100%
			);
			background-repeat: no-repeat;
			background-size: 100% 0.2em;
			background-position: 0 100%;
			display: inline-block;
			transition: background-size 0.25s ease-in;

			&:hover {
				background-size: 100% 100%;
			}

			&.active {
				background-size: 100% 100%;
			}
		}
	}
}

// .sticky {
// 	position: fixed;
// 	z-index: 1;
// 	top: 0;
// 	width: 100%;
// }

@media only screen and (max-width: 600px) {
	.header__main {
		font-size: 0.5em;
		padding: 0;
	}
}
