// movies
.movies {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 1rem;
	margin: 0 2rem;
}

.add-movies {
	text-align: center;
}

.add-movies button {
	font-size: 1em;
	padding: 8px;
	margin: 0 10px 30px 10px;
}

// .errorMessage {
// 	margin: auto;
// 	font-weight: bold;
// 	color: rgb(161, 15, 15);
// }
