// movies
.movies {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 1rem;
	margin: 0 auto;
}

.add-movies {
	text-align: center;
}

.add-movies button {
	font-size: 1em;
	padding: 8px;
	margin: 0 10px 30px 10px;
}

// movie

.movie__container {
	// padding: 5px 25ps 10px 25px;
	// max-width: 25%;
	display: flex;
	flex-flow: column;

	.movie__rating {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.movie-image__container {
	img {
		width: auto;
		height: 200px;
	}
}

// .errorMessage {
// 	margin: auto;
// 	font-weight: bold;
// 	color: rgb(161, 15, 15);
// }
