footer {
	grid-area: footer;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;

	p {
		font-size: 1.125rem;

		@include mediaQuery(xs) {
			font-size: calc(10px + 2vmin);
		}
	}
}
