.header {
	grid-area: header;
	// max-width: 100%;
}

.header__main {
	align-items: center;
	font-size: 0.5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%;

	@include mediaQuery(xs) {
		font-size: calc(10px + 2vmin);
	}

	.header__logo a {
		@extend %menuLink;
		font-weight: bold;
		font-size: 1.25em;
		margin-right: auto;
		color: #e50914;
	}
}

.main__menu {
	@extend %flexCenter;
	position: relative;

	.main__links {
		list-style: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
		visibility: hidden;

		@include mediaQuery(md) {
			visibility: visible;
		}

		li {
			width: 100%;
			padding: 0;

			@include mediaQuery(md) {
				padding: 20px;
			}

			a {
				@extend %menuLink;
				background-image: linear-gradient(
					120deg,
					lighten($color-red, 5%) 0%,
					lighten($color-primary, 10%) 100%
				);
				background-repeat: no-repeat;
				background-size: 100% 0.2em;
				background-position: 0 100%;
				display: inline-block;
				transition: background-size 0.25s ease-in;

				&:hover {
					background-size: 100% 100%;
				}

				&.active {
					background-size: 100% 100%;
				}
			}
		}
	}

	.show {
		visibility: visible;
		background-color: darken($color-primary, 5%);
		color: $font-color-white;
		flex-flow: column;
		justify-content: space-around;

		position: fixed;
		top: calc(4rem + 20px);
		left: 0;
		right: 0;
		bottom: 0;
		overflow-x: hidden;
		transition: 0.5s;
		z-index: 1;

		li {
			background-color: lighten($color-primary, 5%);
			padding: 8px;
			display: block;
			transition: 0.3s;
			width: 100%;
			height: 100%;
			position: relative;

			a {
				font-size: 1.75rem;
				text-align: center;
				text-transform: uppercase;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			&:hover {
				background-color: darken($color-primary, 5%);
			}
		}
	}
}
