.main {
	grid-area: content;
	background-color: $color-white;
	color: $font-color-black;
	background-color: #8487c8;
	background-image: linear-gradient(244deg, #8487c8 0%, #f491ad 100%);
	// position: relative;
	// width: 100%;
}
